<p>
  <strong>Name:</strong>
  <%= dog.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= dog.color %>
</p>

<p>
  <%= link_to 'remove', [dog.owner, dog],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
